@font-face {
    font-family: 'Audiowide';
    src: url('./Fonts/Audiowide/audiowide-regular-webfont.woff2') format('woff2'),
         url('./Fonts/Audiowide/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Audiowide';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background-color: #222222;
    color: white;
}
a {
    color: #FFD37F;
}
hr {
    border-color: #FFD37F;
    border-width: 3px;
}
.button {
    border: #888888 solid 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
}
.button:hover {
    border-color: #FFD37F;
}