@font-face {
    font-family: 'Audiowide';
    src: url('./Fonts/audiowide-regular-webfont.woff2') format('woff2'),
         url('./Fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Audiowide';
    font-weight: normal;
    font-style: normal;
    text-align: center;
    background-color: #222222;
    color: white;
}
a {
    color: #FFD37F;
}
hr {
    background: #FFD37F;
    padding: 2px;
    border: none;
    margin: 15px;
}
.button {
    margin: 10px;
    border: #888888 solid 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: black;
    transition: border 0.2s;
}
.button:hover {
    border-color: #FFD37F;
}